// Variables

// Green and Brand Colors for use across theme

$theme-primary: #3498DB;
$theme-danger: #e74c3c;

$green-base: #48C9B0 !default;
$green-darker: lighten($green-base, 13.5%) !default;
$green-dark: lighten($green-base, 20%) !default;
$green: lighten($green-base, 33.5%) !default;
$green-light: lighten($green-base, 46.7%) !default;
$green-lighter: lighten($green-base, 93.5%) !default;
